@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --green:#002e25;
    --black:#002e25;
    --light-color:#002e25;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-transform:capitalize;
    transition: all .2s ease-out;
    text-decoration:none;

}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top:7rem;
    scroll-behavior:smooth;
}

body
{
    background-size: cover;
    height: 100vh;
}
section{
    padding:2rem 5%;
}
section:nth-child(odd){
    background: #f5f5f5;
}
.heading{
    text-align: center;
    padding-bottom:2rem;
    text-shadow:var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size:5rem;
    letter-spacing: .4rem;
}
.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display:inline-block;
    margin-top:1rem;
    padding: .5rem;
    padding-left:1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow:var(--box-shadow);
    color:#002e25;
    cursor:pointer;
    font-size:1.7rem;
}
.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left:.5rem;
}
.btn:hover{
    background:var(--green);
    color:#fff;
}
.btn:hover span{
    color:var(--green);
    background:#fff;
    margin-left:1rem;
}

.header{
    padding:1.5rem 9%;
    position:fixed;
    top:0; left:0; right:0;
    z-index:1000;
    box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: #fff;

}
.header .logo{
    font-size:4rem;
    color:var(--black);
}
.header .logo i{
    color:var(--green);
}
.header .navbar a{
  font-size:1.7rem;
  color:var(--light-color);
  margin-left:2rem;    
}
.header .navbar a:hover{
    color:var(--green);
}
#menu-btn{
  font-size:2.5rem; 
  border-radius:.5rem;
  background: #eee;
  color:var(--green);
  padding:1rem 1.5rem;
  cursor:pointer;
  display:none;
}
#buton {
    color:#fff;
    background:#002e25;
}
#buton span{
    background:white;
    color:#002e25;
}






/*home*/
#home{
    background-color:#effaf4;
}
.home{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:1.5rem;
    padding-top:10rem;
    padding-bottom: 1rem;

   
}
.home .image{
    flex:1 1 45rem;
}
.home .image img{
    width:100%;
}
.home .content{
    flex:1 1 45rem;
}
.home .content h3{
    margin-top:0;
    font-size:5rem;
    color:var(--black);
    line-height:1.8;
    text-shadow:var(--text-shadow);
}
.home .content p{
    font-size:2rem;
    color:var(--light-color);
    line-height:1.8;
    padding:1rem 0;
}








/*icons*/
.icons-container{
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top:5rem;
    padding-bottom:5rem;
}
.icons-container .icons{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius:.5rem;
    text-align:center;
    padding:2.5rem;
} 
.icons-container .icons i{
    font-size:4.5rem;
    color:var(--green);
    padding-bottom:.7rem;
}
.icons-container .icons h3{
    font-size:4.5rem;
    color:var(--black);
    padding-bottom:.5rem 0;
    text-shadow:var(--text-shadow);
}
.icons-container .icons p{
    font-size:2rem;
    font-weight:400;
    color:var(--light-color);
  
}







/*services*/

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}

.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}










/* about*/

#about {
    background-color: #effaf4;
    fill: rgb(255,255,255);
  
}

.about .row{
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
#aboutfooter{
 background-color: #f5f5f5;
}







/*Appointment*/
#book{
    background-color: #effaf4;  
}
.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.book .row .image{
    flex:1 1 45rem;
}

.book .row .image img{
    width: 120%;
    background-color: #002e25;
}

.book .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.book .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border-bottom:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.book .row form .btn{
    padding:1rem 4rem;
}
h6{
    font-size: 2rem;
    text-align: left;
    color:var(--black);
    opacity: 0.5;
}
.col{
    display: flex;
    gap:1rem;
}
.age{
    font-size: 2rem;
    text-align: left;
    color:var(--black);
    opacity: 0.7;
    gap:1rem;

}






/*doctors section*/
.doctors{
    background: #effaf4;
    color:#effaf4;
}
.docimage-container{
   display:flex;
   justify-content: center;
   align-items: center; 
}
.imagee{
    width: 175px;
    height: 175px;
    background: #002e25;
    margin:2px 50px;
    border-radius:50%;
    border: 3px solid black;
    display:flex;
   justify-content: center;
   align-items: center; 
   box-shadow:0 0 50px rgb(255, 255, 255);
}
.docimage-container .imagee img:hover{
    border:5px dashed #002e25;
    opacity: 2;
 }
.docimage-container .imagee img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
}
.infom-container{
    width: 1200px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#002e25;
    margin:0 auto;
    margin-top:50px;
    border-radius: 5px;
    box-shadow:0px 0px 50px #000;
}
.profile{
    width:300px;
    height:325px;
    border-radius: 15px;
    padding:10px;
    margin:0;

}
.name{
    margin-top : 80px;
    padding: 0px 15px;
    text-align: left;
    font-size: 50px;
    line-height:20px;
}
.status{
    font-size:2rem;
    font-weight: 700;
    padding:20px 10px;
    text-align:left;
    line-height:20px;
    margin-left: 1rem;
    margin-top: 1rem;
}
.aboutt{
    font-size:1.5rem;
    font-weight: 100;
   height: 240px;
   padding:0px 20px; 
}






/*contact section*/
#cont
{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #002e25;
    color:#002e25;
} 
#cont::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background-color:#f5f5f5;

}

.contact
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1; 
}

 .contact .contactinfo
{
    position: absolute;
    top: 40px;
    width:350px;
    height: calc(100% - 80px); 
    background: #002e25;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgb(0,0,0,0.2);
} 

.contact .contactinfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.contact .contactinfo ul
{
    position: relative;
    margin: 95px  0;
}

.contact .contactinfo ul li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contact .contactinfo ul li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

.contact .contactinfo ul li span:nth-child(2)
{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin-left: 10px;
}
.contact .contactinfo ul li span i
{
    padding-right: .5rem;
    font-size:2.5rem;
    color:#fff;
}
.contact .contactinfo  a
{
    padding-right: 2rem;
    color:#fff;
    font-size: 3rem;
}
.contact .contactinfo  a:hover{
    color:#111;
}


.contact .contactform
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width:calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgb(0,0,0,0.25);

}
.contact .contactform h2
{
    color: #002e25;
    font-size: 45px;
    font-weight: 700;
}
.contact .contactform .form 
{
    position:relative;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-top: 30px;
  
}
.contact .contactform .form .inputbox
{
    position: relative;
    margin: 0 0 35px 0 ;
}

.contact .contactform .form .inputbox .n1
{
    width: 47%;
  
}
.contact .contactform .form .inputbox .n2
{
    width: 100%;
}


.contact .contactform .form .inputbox input,
.contact .contactform .form .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;

}   
.contact .contactform .form .inputbox textarea
{
    min-height: 120px;
}
.contact .contactform .form .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    pointer-events:none;

}
.contact .contactform .form .inputbox input:focus ~ span,
.contact .contactform .form .inputbox input:valid ~ span,
.contact .contactform .form .inputbox textarea:focus ~ span,
.contact .contactform .form .inputbox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #002e25;
    font-weight: 500;
}
.contact .contactform .form .inputbox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #002e25;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}



/*footer*/
.footer .boxx-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .boxx-container .boxx h3
{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .boxx-container .boxx a
{
    display:block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .boxx-container .boxx a i
{
    padding-right: .5rem;
    color:var(--green);
}

.footer .boxx-container .boxx a:hover i
 {
    padding-right:2rem;
}

.footer .credit
{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--green);
}





/*signup section*/
.signup
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}

.bookingform
 {
    max-width: 650px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
   
} 

.bookingform h2
{
    text-align: center;
    color: #002e25;
    padding: 10px 0 10px 0;
    font-size: 24px;
}

.bookingform form .userdetails
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

form .userdetails .infobox
{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
} 

.userdetails .infobox .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.userdetails .infobox input
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.cardlog
{
    margin: 20px 0;
    text-align: center;
    font-size: 12px;
    color: #002e25;
}
.cardsignup a
{
    color: #133c5c;
    text-decoration: none;
}







/*  login page css*/
.login-form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    background: #fff;
    border-radius:10px ;
    opacity: 90%;
}
.login-form h1
{
    text-align: center;
    color: #002e25;
    padding: 20px 0 20px 0;
    font-size: 28px;

}
.login-form form
{
     padding: 0 40px;
     box-sizing: border-box;
}
form  .cardtext
{
    position: relative;
    border-bottom: 2px solid #0f3959;
    margin: 30px 0;
}
.cardtext input
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.cardtext label
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #002e25;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: -5s;

}
.cardtext span::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #002e25;
    transition: -5s;
}
.cardtext input:focus~label,
.cardtext input:valid~label
{
    top: -5px;
    color: #002e25;
}
.cardtext input:focus~span::before,
.cardtext input:valid~span::before
{
    width: 100%;
}

.cardpass
{
    margin: -5px 0 20px 5px;
    font-size: 15px;
    
}
input[type="submit"]
{
    width: 100%;
    height: 50px;
    order: 1px solid;
    background: #002e25;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: #fff;
    margin: 20px 0;
}
.cardsignup
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #002e25;
}
.cardsignup a
{
    color: #0f3959;
    text-decoration: none;
}




























/*media queries*/

@media (max-width:1200px){
.contact
{
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgb(0,0,0,0.2);
}
.contact .contactinfo
{
    top: 0;
    height: 500px;
    position: relative;
    box-shadow: none;
}
.contact .contactform
{
    position: relative;
    width: calc(100%-350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
}

}

@media (max-width:991px){
    html{
        font-size:55%;
    }
    .header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }

    .contact
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact .contactform
    {
        width: 100%;
        height: auto;
    }
    .contact .contactinfo
    {
        width: 100%;
        height: auto;   
    }
}
@media (max-width:768px){
    #menu-btn{
        display:initial;
    }
    .header .navbar{
        position:absolute;
        top:115%; right:2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width:30rem;
        border:var(--border);
        background:#fff;
        transform:scale(0);
        opacity:0;
        transform-origin:top right;
        transition:none;   
    }
    .header .navbar a{
        font-size:2rem;
        display:block;
        margin:2.5rem;
    }
    .header .navbar.active{
        transform:scale(1);
        opacity:1;
        transition:.2s ease-out; 
    }


}
@media (max-width:450px){
    html{
        font-size:50%;
    }
  
}
